.custom-banner-button {
  #main-outlet {
    padding-top: 0;
   }
  .below-site-header-outlet {
    padding-top: 3.8em;
  }
  
  .top-banner-button {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(85%,#00b3e3),to(#0096d6));
    background-image: linear-gradient(90deg,#00b3e3 85%,#0096d6);
    background-color: #0096d6;
    width: 100%;
    color: #fff;
    height: auto;
    font-weight: 100;
    text-align: center;}
.banner-button {
    background: url(https://bbs-test.quecteltest.com/uploads/default/original/1X/f6a199c8cd948a3d92b44a91695c8f744425e02f.jpg) no-repeat top center;
    background-size: cover;
    background-color: #000;
    height: auto;
    max-width: 1920px;
    margin: auto;
}

.banner-text {
    max-width: 1000px;
    padding: 30px 10px 40px 30px;
    margin: auto;
    text-align: left;
    text-transform: none;
}
.banner-text h1 {
    font-size: 32px;
    line-height: 42px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
    letter-spacing: normal;
}

.banner-text p {
    font-size: 20px;
    line-height: 35px;
    color: #fff;
    font-weight: 500;
    margin: 0;
}

.banner-text {
    button{
    font-size:16px;
    background-color: transparent;
    color:#fff;
    padding:8px 25px;
    border:1px solid #fff;
    border-radius:25px;
    margin-top:30px;
    margin-left:20px;
    display:inline-block;
    }
    a{
    font-size:16px;
    background-color: transparent;
    color:#fff;
    padding:8px 25px;
    border:1px solid #fff;
    border-radius:25px;
    margin-top:30px;
    display:inline-block;
    }
    
}
  .banner-text button{
    .d-icon{color:#fff;}
    
  }


.banner-text {

   button:hover {
    background-color:#fff;
    color:#000!important;
   }
   a:hover {
    background-color:#fff;
    color:#000;
   }
}

}

